/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800"); */
.signIn-From h1 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #09006E;
}

.signIn-From .custom-span {
    color: #A770FF;
    font-size: xx-large;
}

.signIn-From h2 {
  text-align: center;
}

.signIn-From p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.signIn-From span {
  font-size: 12px;
}

.signIn-From a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.signIn-From button {
  border-radius: 10px;
  border: 1px solid #5640DC;
  background-color: #5640DC;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  padding: 12px 45px;
  transition: transform 80ms ease-in;
  width: 80%;
}

.signIn-From button:active {
  transform: scale(0.95);
}

.signIn-From button:focus {
  outline: none;
}

.signIn-From button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.signIn-From {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  border-radius: 25px;
}

.signIn-From input {
  background-color: #ffffff;
  border: 1px solid #E5E5ED;
  padding: 12px 15px;
  margin: 15px 0;
  width: 80%;
  border-radius: 10px;
}