.dashboard {
  display: flex;
}

.main-board {
  width: calc(100% * (5 / 12));
  padding: 0px 32px;
  padding-top: 32px;
  height: 100%;
}

.main-board .welcome-text span {
  color: var(--lightblue);
  font-size: x-large;
}

.main-board .welcome-text h2 {
  font-weight: 600;
}

.main-board .w-50 {
  width: 50%;
  padding-right: 48px;
}

.main-board .body {
  margin-top: 20px;
}

h1, h3 {
font-weight: bolder;
}

.my-smart-home {
  font-size: 36px;
  color: #5640DC;
}

.setting {
  width: calc(100% * (5 / 6));
}

.home-setting {
  font-weight: bold;
  color: var(--lightblue);
  margin-top: 32px;
  margin-left: 2.1%;
}