.dashboard {
  display: flex;
  height: 100vh;
}
.main-board {
  width: calc(100% * (5 / 12));
  padding: 0px 32px;
  box-shadow: 1px 4px 4px gray;
  padding-top: 32px;
}
.main-board .welcome-text span {
  color: var(--light-blue);
}
.main-board .welcome-text h2 {
  font-weight: 600;
}
.main-board .w-50 {
  width: 50%;
  padding-right: 48px;
}
.main-board .body {
  margin-top: 48px;
}
