.home-setting-box {
  padding: 0 32px 32px 32px;
}

.home-setting-box h4 {
  font-weight: bold;
  color: var(--lightblue);
  margin-top: 32px;
}

.home-setting-box .home-setting-form {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 10px;
  padding: 30px 20px;
}

.homename {
  color: #A770FF;
  font-weight: 600;
}

.profile-form .profile-input {
  width: calc(100% * 1 / 2);
}

.profile-input .name {
  display: flex;
}

.profile-input .fname {
  width: 50%;
  padding-right: 16px;
}

.profile-input .lname {
  width: 50%;
  padding-left: 16px;
}

.profile-input input {
  width: 100%;
  border-radius: 8px;
  padding: 4px 12px;
  border: 1px solid #ccc;
}

.profile-input .email {
  margin-top: 28px;
}

.profile-buttons {
  width: calc(100% * 1 / 6);
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.profile-buttons button {
  border: 1px solid #ccc;
  color: black;
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
  padding: 0px 12px;
}

.profile-buttons button:hover{
  opacity: 0.9;
}

.profile-buttons button:first-child{
  margin-right: 8px;
}

.profile-buttons .save{
  background-color: var(--lightblue);
  color: #fff;
  padding: 4px 8px;
}