.device-history {
  width: calc(100% * (5 / 6) * (3 / 4));
  padding: 32px;
}
.device-history h5 {
  font-weight: bold;
  color: var(--lightblue);
  margin-top: 32px;
}
.history-table {
  background-color: #fff;
  border-radius: 16px;
  padding: 28px 0;
  padding-right: 32px;
}
.history-table ul {
  list-style: none;
}
.history-table li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-top: 6px;
}
.history-table li:first-child {
  font-weight: bold;
  font-size: 18px;
}
